<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.re.mydata.wonboard.dao.ArticleDAO">
    <insert id="postArticle" parameterType="kr.re.mydata.wonboard.model.db.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post (id, title, content, reg_dt, upd_dt, reg_user_id, upd_user_id)
        VALUES (#{id}, #{title}, #{content}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{regUserId}, #{updUserId})
    </insert>

    <select id="getArticleList" resultType="kr.re.mydata.wonboard.model.db.Article">
        SELECT * FROM post ORDER BY reg_dt DESC;
    </select>

    <select id="getArticle" parameterType="int" resultType="kr.re.mydata.wonboard.model.db.Article">
        SELECT * FROM post WHERE id = #{id};
    </select>

    <update id="updateArticle" parameterType="kr.re.mydata.wonboard.model.db.Article">
        UPDATE post SET title = #{article.title}, content = #{article.content}, upd_dt = CURRENT_TIMESTAMP, upd_user_id = #{article.updUserId} WHERE id = #{id};
    </update>

    <delete id="deleteArticle" parameterType="int">
        DELETE FROM post WHERE id = #{id};
    </delete>

</mapper>