<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.re.mydata.wonboard.dao.AttachDAO">
    <insert id="postAttach" parameterType="kr.re.mydata.wonboard.model.db.Attach">
        INSERT INTO attachment (id, post_id, path, name, real_name,reg_dt)
        VALUES (#{id}, #{postId}, #{path}, #{name}, #{realName}, CURRENT_TIMESTAMP)
    </insert>

    <select id="getAttach" parameterType="int" resultType="kr.re.mydata.wonboard.model.db.Attach">
       SELECT * FROM attachment WHERE post_id = #{postId};
    </select>

    <delete id="deleteAttach" parameterType="int">
        DELETE FROM attachment WHERE post_id = #{postId};
    </delete>
</mapper>